.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}

/* .container {
    max-width: 1240px;
} */

.exam-image,
.explan-image {
    max-width: 300px;
    max-height: 300px;
}

.q-image {
    max-width: 100px;
    max-height: 100px;
}

.top-img img {
    width: 100%;
}

.top-img {
    padding: 0px;
}

@media (min-width: 768px) {
    .navbar-nav .nav-item {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}

@media (min-width: 1400px) {
    .top-img {
        padding-top: 5px;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    .top-img img {
        border-radius: 10px;
    }
}

/* 以下はexamにて使用 */
.correct-answer {
    background-color: #CCFFCC;
}
